<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>A Code Camp Story</h1>
    <p>Once upon a time at Epicodus,</p>
    <p>A student named @Model.GetStudent() arrived and signed into a computer at </p>
    <p>station @Model.GetStation() but they could not find a </p>
    <p> @Model.GetPair(). </p>
    <p>They @Model.GetVerb() frantically but still no one wanted to be their pair that day. </p>
    <p>They were very @Model.GetAdjective() and </p>
    <p>@Model.GetSecondAdjective() about it. The End.</p>
  </body>
</html>